@font-face {
    font-family: 'Trajan Pro 3';
    src: url('./TrajanPro3SemiBold.woff2') format('woff2'),
         url('./TrajanPro3SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('./TrajanPro3Regular.woff2') format('woff2'),
         url('./TrajanPro3Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


