// space
$container-width: 1260px;
$container-padding: 15px;
$big-offset: 100px;
$small-offset: 50px;

// colors
$color-main: #1E2533;
$color-coral: #FA7846;
$color-white: #fff;
$color-hover: #fb7c4d;
$color-linen: #FBF2EA;

// fonts
$font-main: 'Inter', sans-serif;
$font-second: 'Lato', sans-serif;


