.btn {
    display: block;
    padding: 14.5px 22.5px;
    font-family: $font-main;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.18rem;
    color: $color-white;
    background: linear-gradient(90deg, #FC8C5F 0%, #FC8C5F 100%);
    box-shadow: 
    0px 20px 50px -5px 
    rgba(250, 120, 70, 0.25), 
    0px 3px 0px #E87145;
    border-radius: 8px;
    transition: transform 0.2s ease-in;
    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        transform: translateY(-3px);
    }
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    color: $color-coral;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    z-index: 100;
    &:hover {
        color: $color-white;
        background-color: $color-hover;
    }
    &:focus {
        color: $color-white;
        background-color: $color-hover;
    }
}



